.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background: #0f0f0fd0;
    width: fit-content;
    padding: 3rem;
}

.header{
    display: flex;
    background-color: whitesmoke;
}

.about{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 1rem;
}

.about-name{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile-picture{

}

.about-text{
    
}

.team{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem;
}

.team-and-name{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:fit-content;
}

.table, th, td {
    border: 1px solid;
  }

.table {
    width: 100%;
}