@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Montserrat:wght@100&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body{
    background-color: #101010;
}

*{
    box-sizing: border-box;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 6px;
    transition: ease-in-out 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header:hover{
    background-color: black;
}

header a{
    color: white;
    transition: .3s ease-in-out;
}

.nav_links{
    list-style: none;
    cursor: default;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: red;
}

.navbox{
    width: 20%;
    cursor: cursor;
}

.page-title{
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 8rem;
    margin-left: 5rem;
    font-size: 50px;
}

.table, th, td {
    border: 1px solid;
  }

.table {
    width: 100%;
}

/* index */

#home-page{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(https://cloudfront-us-east-1.images.arcpublishing.com/tgam/H4XPBBRKHFMTTLXEBVBLK65HOM.jpg);
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    padding-top: 50%;
}

.blank{
    height: 100%;
}

.main{
    font-size: 20px;
    line-height: 40px;
    color: white;
}

/* cards */

.card-container{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 6rem;
   margin-bottom: 2rem;
   margin-left: 2rem;
   margin-right: 2rem;
   gap: 1rem;
}

.card{
    position: relative;
    height: 500px;
    width: 358px;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

/* player page */

#player{
    display: flex;
    color: white;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding: 6rem;
}

.large-card{
    position: flex;
    height: 700px;
}

.player-info{
    margin-left: 6rem;
}

.background-logo{
    position: fixed;    
    opacity: 10%;
    height: 50rem;
    z-index: -1;
    transform: translate(60rem);
}

.info{
    font-size: 30px;
    text-indent: 0rem;
    line-height: 150%;
}

/* games */


/* animation */

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-10px) scale(1.05);
    }
}

.bounce {
    animation-name: reverse;
    animation-duration: 0.2s;
}

@keyframes reverse {
    from {
        transform: translateY(-10px) scale(1.05);
    }
    to {
        transform: translateY(0) scale(1);
    }
}
